MCP9600_NodeRed/MCP9600.json
[
    {
        "id": "8371324f.4f67a",
        "type": "tab",
        "label": "フロー 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ea4afc7.83e99",
        "type": "debug",
        "z": "8371324f.4f67a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "e1f3e828.fbce18",
        "type": "serial request",
        "z": "8371324f.4f67a",
        "name": "",
        "serial": "81d381c.09a048",
        "x": 510,
        "y": 180,
        "wires": [
            [
                "7ea4afc7.83e99",
                "4faff188.9dbe"
            ]
        ]
    },
    {
        "id": "4faff188.9dbe",
        "type": "ui_chart",
        "z": "8371324f.4f67a",
        "name": "",
        "group": "127f8e80.33aa22",
        "order": 1,
        "width": 6,
        "height": 7,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "100",
        "ymax": "0",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 740,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5c42921f.f3058c",
        "type": "inject",
        "z": "8371324f.4f67a",
        "name": "",
        "topic": "0",
        "payload": "",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "e1f3e828.fbce18"
            ]
        ]
    },
    {
        "id": "81d381c.09a048",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/tty.usbserial-59564142B4",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "1000"
    },
    {
        "id": "127f8e80.33aa22",
        "type": "ui_group",
        "z": "",
        "name": "MCP9600",
        "tab": "de22310f.6cc7d",
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "de22310f.6cc7d",
        "type": "ui_tab",
        "z": "",
        "name": "ホーム",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
　
